#profil-main{
    flex: 1;
    min-height: 0;
    border-radius: var(--border-radius-one);
    gap: var(--gap);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    position: relative;

    
    > #upper-part{
        width: 100%;
        height: 70%;
        display: flex;
        gap: var(--gap);

        > #about{
            display: none;
        }

        > #presentation{
            width: 70%;
            height: 100%;
            min-height: 0px;
            display: flex;
            flex-direction: column;
            overflow: scroll;

            > h1 {
                margin: var(--margin-two) 0px var(--margin-two) var(--margin);
                font-size: 3em;
                line-height: 1% !important;
            }

            > p{
                margin-left: var(--margin);
                font-size: 1.1em;
                width: 75%;
                line-height: 140%;
            }
        }
        > #picture{
            flex: 1;
            padding: 0px;
            background-color: red;
            
            > img{
                border-radius: var(--border-radius-one);
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    
    > #lower-part{
        min-height: 0;
        flex: 1;
        width: 100%;
        display: flex;
        gap: var(--gap);
        min-height: 0px;
        
        > #skills{
            flex: 1;
            background-color: var(--secondary-color);
            color: var(--secondary-text-color);
            position: relative;
            padding: 0px;
        }

        > #experience{
            flex: 1;
            min-height: 0px;
            overflow:scroll !important;
            
            > h2{
                margin-bottom: 16px;
                font-size: 1.7em;
                line-height: 50%;
            }
            
            > .exp-container{
                display: flex;
                height: fit-content;
                gap: 10px;
                width: 100%;
                
                > .exp-margin{
                    width: 5%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 14px;
                    
                    > :first-child{
                        background-color: var(--secondary-color);
                        border-radius: 50%;
                        height: 15px;
                        width: 15px;
                    }
                    
                    > :last-child{
                        background-color: var(--secondary-color);
                        width: 3px;
                        flex: 1;
                    }
                }
                
                > .exp-content{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 4px;
                    
                    > h4{
                        width: 100%;
                        font-weight: bold;
                        > span{
                            margin-left: 4px;
                            font-weight: lighter;
                        }
                    }
                    
                    
                    > ul{
                        width: 100%;
                        margin-top: 4px;
                        position: relative;
                        left: 20px;
                    }
                }
            }
        }
    }
    
}

#overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-one);
    background-color: var(--background-color-two);
    pointer-events: none;
}

.slider-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: 0px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    animation: fadeSlide 12s infinite;
}

.slide:nth-child(1) {
    animation-delay: 0s;
}

.slide:nth-child(2) {
    animation-delay: 4s;
}

.slide:nth-child(3) {
    animation-delay: 8s;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > svg{
        height: 100px;
        width: 100px;
    }
}

@media  (max-width: 768px) {
    

    #profil-main{
        display: flex;
        min-height: none !important;
        height: fit-content !important;
        flex-direction: column;
    }
    
    #upper-part{
        min-height: none !important;
        display: flex;
        flex-direction: column;
        gap: var(--gap);
        height: auto !important;

        > #about{
            padding: calc(2*var(--padding-one));
            display: flex !important;
            flex-direction: column;
            justify-content: space-between;
            height: 30vh;
            min-height: 30vh;

            > img{
                width: 10vw;
                height: 10vw;
            }

            > div{
                font-size: 2.4em !important;
            }
        }
        
        > #presentation{
            /* order: 3; */
            flex: none;
            height: auto !important;
            width: 100% !important;
            position: static;
            
            > h1{
                display: none;
            }
            
            > p {
                box-sizing: border-box;
                width: 100% !important;
                margin-left: 0px !important;
                padding: var(--padding-one);

                > .italic{
                    font-family: var(--font-primary);
                    font-style: normal;
                    font-weight: 400 !important;
                    font-size: 1em;
                }
            }
        }
        > #picture{
            flex: none !important;
            height: 55vh !important;
            width: 100% !important;
            order: 2;
        }
    }
    
    #lower-part{
        box-sizing: border-box;
        flex: none !important;
        min-height: none !important;
        /* display: none !important; */
        flex-direction: column;
        height: auto !important;
        padding-bottom: var(--padding-one);

        > #skills{
            flex: none !important;
            height: 20vh !important;

        }
        
        > #experience{
            flex: none !important;
            height: fit-content !important;

            > .exp-container{
                display: flex;
                height: fit-content;
                gap: 10px;

                > .exp-content{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 4px;
                    padding-right: var(--padding-one);

                    > h4{
                        font-weight: bold;
                        font-size: 1.1em;
                        > span{
                            margin-left: 4px;
                            font-weight: bold !important;
                        }
                    }


                    > ul{
                        margin-top: 4px;
                        position: relative;
                        left: 20px;
                    }

                    > :nth-child(2){
                        font-weight: 400 !important;
                        font-size: 1.1em;
                    }
                    > :nth-child(3){
                        font-weight: 400 !important;
                        font-size: 1em;
                    }
                }
            }
        }
    }

    .logo-wrapper {
        > svg{
            height: 60px;
            width: 60px;
        }
    }

    .nav-links{
        top: calc(10vh + var(--margin) * 2);
        left: var(--margin);
    }

    @media  (max-height: 768px) {
        #about{
            height: 35vh !important;
            > h1{
                font-size: 2.2em !important;
            }
        }
    }
    
}