*{
    padding: 0px;
    margin: 0px;
}

.italic {
    font-family: var(--font-primary);
    font-style: italic;
    font-weight: 100 !important;
}

body {
    visibility: hidden;
    background-color: var(--background-color-one);
    display: flex;
    gap: var(--gap);
    height: 100vh !important;
    width: 100vw;

    padding: 24px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    font-family: var(--font-primary);
    min-height: 0;
}

header {
    min-height: 10vh;
    height: 10vh;
    background-color: var(--background-color-two);
    border-radius: var(--border-radius-one);
    display: flex;
    box-sizing: border-box;
    padding: var(--padding-one);
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    

    > #title {
        display: flex;
        color: var(--text-color);
        gap: 8px;
        font-size: 130%;

        > :last-child {
        font-weight: 400;
        }
    }

    > nav {
        width: 20%;
        display: flex;
        justify-content: space-between;
        font-family: var(--font-primary);
        font-weight: 200;

        > a {
        transition: color 0.2s ease, font-weight 0.2s ease;
        text-decoration: none;
        color: var(--text-color);
        }

        > a:hover {
        font-weight: 450;
        color: var(--text-color);
        }
    }

    > nav:has(a:hover) a:not(:hover) {
        color: var(--disabled-text-color);
    }
}

section{
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.141);
    background-color: var(--background-color-two);
    border-radius: var(--border-radius-one);
    color: var(--text-color);
    font-family: var(--font-primary);
    padding: var(--padding-one);

    box-sizing: border-box;
}

main{
    flex: 1;
    min-height: 0;
    border-radius: var(--border-radius-one);
    gap: var(--gap);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    position: relative;
    
    > #upper-part{
        width: 100%;
        height: 70%;
        max-height: 70% !important;
        display: flex;
        gap: var(--gap);

        > :first-child{
            width: 70%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: var(--gap);

            > h1 {
                margin: var(--margin-two) 0px var(--margin-two) var(--margin);
                font-size: 3em;
            }

            > p{
                margin-left: var(--margin);
                font-size: 1.25em;
                width: 75%;
                line-height: 140%;
            }
        }
        > :last-child{
            flex: 1;
            padding: 0px;
            background-color: red;
            min-height: 0;
            max-height: 100%;
            
            > img{
                border-radius: var(--border-radius-one);
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    
    > #lower-part{
        min-height: 0;
        flex: 1;
        width: 100%;
        display: flex;
        gap: var(--gap);
        
        > :first-child{
            flex: 1;
            background-color: var(--secondary-color);
            color: var(--secondary-text-color);
            position: relative;
            padding: 0px;
        }
        > :last-child{
            flex: 1;

            > h2{
                margin-bottom: var(--margin);
                font-size: 170%;
            }

            > .exp-container{
                display: flex;
                height: fit-content;
                gap: 10px;

                > .exp-margin{
                    width: 5%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 14px;

                    > :first-child{
                        background-color: var(--secondary-color);
                        border-radius: 50%;
                        height: 15px;
                        width: 15px;
                    }

                    > :last-child{
                        background-color: var(--secondary-color);
                        width: 3px;
                        flex: 1;
                    }
                }

                > .exp-content{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 4px;

                    > h4{
                        font-weight: bold;
                        > span{
                            margin-left: 4px;
                            font-weight: lighter;
                        }
                    }


                    > ul{
                        margin-top: 4px;
                        position: relative;
                        left: 20px;
                    }
                }
            }
        }
    }
    
}

#overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius-one);
    background-color: var(--background-color-two);
}

.slider-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: 0px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 0;
    animation: fadeSlide 12s infinite;
}

.slide:nth-child(1) {
    animation-delay: 0s;
}

.slide:nth-child(2) {
    animation-delay: 4s;
}

.slide:nth-child(3) {
    animation-delay: 8s;
}

@keyframes fadeSlide {
    0% {
        opacity: 0;
        transform: translate(-200px, 200px);
    }
    8% {
        opacity: 1;
        transform: translate(0, 0);
    }
    33% {
        opacity: 1;
        transform: translate(0, 0);
    }
    41% {
        opacity: 0;
        transform: translate(200px, -200px);
    }
    100% {
        opacity: 0;
        transform: translate(200px, -200px);
    }
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > img{
        height: 120px;
        width: 150px;
    }
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 52px;
    font-weight: bold;
    color: var(--secondary-text-color);
    font-family: Arial, sans-serif;
}

.fade-out {
	-webkit-animation: fade-out 1s ease-out both;
	        animation: fade-out 1s ease-out both;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


:root {
    /* Couleurs principales */
    --primary-color: #414a37;
    --secondary-color: #99744a;
    --background-color-one: #dbc2a6;
    --background-color-two: #414a37;
    --text-color: #dbc2a6;
    --disabled-text-color: #dbc2a6c4;
    --secondary-text-color: #414a37;

    /* Typographie */
    --font-primary: "Outfit", sans-serif;
    --font-secondary: "Instrument Sans", sans-serif;
    --font-size: 16px;

    /* Espacements */
    --padding-one: 24px;
    --padding-two: 12px;
    --margin: 24px;
    --margin-two: 48px;
    --gap: 24px;

    /* Bordures et ombres */
    --border-radius-one: 20px;
    --border-radius-two: 16px;
}
