#projects-main{
    width: 100%;
    height: 100%;
    flex: 1;
    min-height: 0;
    display: flex;
    gap: var(--gap);

    > #projects-nav {
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: var(--gap);
        box-shadow: none;
        border: transparent;
        overflow: visible;
        position: relative;

        > .nav-item {
            height: 6vh;
            color: var(--text-color);
            padding: 20px 40px;
            cursor: pointer;
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;
        }

        > .nav-item.active{
            color: var(--secondary-text-color);
        }

        /* L’élément mobile beige */
        > .highlight {
            position: absolute;
            left: 0;
            width: 96%;
            height: 8vh;
            background-color: var(--background-color-one);
            border-bottom-left-radius: var(--border-radius-one);
            border-top-left-radius: var(--border-radius-one);
            top: 0;
            left: 4%;
            transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
            z-index: 1;
        
        }


        /* Coin inversé en haut à droite - tourné de 90deg */
        > .highlight::before {
            content: '';
            position: absolute;
            top: -20px;
            right: 20px;
            width: 20px;
            height: 20px;
            background: radial-gradient(circle at bottom left, transparent 20px, var(--background-color-one) 20px);
            transform: rotate(90deg);
            transform-origin: bottom right;
        }

        /* Coin inversé en bas à droite - tourné de -90deg */
        > .highlight::after {
        content: '';
        position: absolute;
        bottom: -20px;
        right: 20px;
        width: 20px;
        height: 20px;
        background: radial-gradient(circle at top left, transparent 20px, var(--background-color-one) 20px);
        transform: rotate(-90deg);
        transform-origin: top right;
        }
    }

    > #projects-container{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: var(--gap);

        > #project-header{
            height: 8vh;

            > :first-child{
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 2.3em;
            }
        }

        > #project-content{
            display: flex;
            gap: var(--gap);
            min-height: 0;
            flex: 1;

            > #left-part{
                display: flex;
                flex-direction: column;
                width: 55%;
                gap: var(--gap);

                > :nth-child(1){
                    height: 45%;
                    font-size: 1.3em;
                }
                > :nth-child(2){
                    min-height: 0;
                    flex: 1;
                }
                > :nth-child(3){
                    box-sizing: border-box;
                    height: 8vh;
                    background-color: var(--secondary-color);
                    color: var(--secondary-text-color);
                    font-size: 1.3em;
                    display: flex;
                    flex-wrap: wrap;         /* Permet de passer à la ligne quand ça déborde */
                    align-content: flex-start;
                    gap: var(--gap-two);
                    overflow: auto;
                    padding: 3%;
                    padding-left: var(--padding-one);

                    > span {
                        width: 100%;
                        height: 100%;
                        > svg{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
            
            > #right-part{
                display: flex;
                flex-direction: column;
                flex: 1;
                gap: var(--gap);
                min-height: 0;
                
                > :nth-child(1){
                    height: 35%;
                }
                > :nth-child(2){
                    padding: var(--padding-one);
                    padding-left: calc(var(--padding-one) * 2);
                    flex: 1;
                    font-size: 1.3em;
                    overflow: scroll;
                    > ul{
                        line-height: 1.7em;
                    }
                }
            }
        }
    }
}



.carousel {
    position: relative;
    padding: 0px;
    overflow: hidden;
}



.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item.active {
    opacity: 1;
    z-index: 2;
}

@media  (max-width: 768px) {
    #projects-main{
        height: auto;
        display: flex;
        flex-direction: column !important;
        
        > #projects-nav{
            flex-direction: row;
            width: 100%;
            min-height: 10vh !important;
            overflow: scroll;
            align-items: start;
            
            >.highlight{
                display: none;
            }
            > .nav-item {
                box-sizing: border-box;
                display: flex;
                width: max-content !important;
            }
        }
        
        > #projects-container{
            > #project-header{
                
                min-height: 10vh !important;
                display: none;
            }

            > #project-content{
                flex: none !important;
                display: flex;
                flex-direction: column !important;
    
                > #left-part{
                    width: 100%;
                    height: fit-content;
                    flex: none !important;
    
                    > #description{
                        flex: none !important;
                        width: 100% !important; 
                        height: fit-content !important;
                    }
                    
                    > .carousel-1{
                        width: 100% !important;
                        height: 30vh !important;
                    }
                    
                    > #skills{
                        flex: none !important;
                        width: 100% !important; 
                        min-height: 10vh;
                        height: fit-content !important;
                        padding: var(--padding-one) !important;
                    }
                }
    
                > #right-part{
                    height: max-content;
                    flex: none;
                    gap: var(--gap);
                    min-height: 0;
                    margin-bottom: var(--margin);

                    > :nth-child(1){
                        order: 2 !important;
                        height: 30vh !important;
                    }
                    > :nth-child(2){
                        order: 1 !important;
                        flex: none;
                        height: fit-content !important;
                    }
                }
            }
        }

    }

    .carousel-inner {
        flex: none;
        position: relative;
        width: 100%;
        height: 30vh;
    }

    .nav-item.active{
        color: var(--secondary-color) !important;
    }
}