
@font-face {
  font-family: "Outfit";
  src: url("../font/Outfit/static/Outfit-Regular.ttf") format("truetype");
  font-weight: 400;
  font-size: var(--font-size);
}

@font-face {
  font-family: "Outfit";
  src: url("../font/Outfit/static/Outfit-Bold.ttf") format("truetype");
  font-weight: 700;
  font-size: var(--font-size);
}

@font-face {
  font-family: "Outfit";
  src: url("../font/Outfit/static/Outfit-Light.ttf") format("truetype");
  font-weight: 100;
  font-size: var(--font-size);
}

@font-face {
  font-family: "Instrument Sans";
  src: url("../font/Instrument_Sans/static/InstrumentSans_Condensed-Italic.ttf")
  format("truetype");
  font-weight: 200;
  font-style: italic;
  font-size: var(--font-size);
}

* {
  margin: 0px;
  padding: 0px;
}


section {
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.141);
  background-color: var(--background-color-two);
  border-radius: var(--border-radius-one);
  color: var(--text-color);
  font-family: var(--font-primary);
  padding: var(--padding-one);

  box-sizing: border-box;
}

.italic {
  font-family: var(--font-primary);
  font-style: italic;
  font-weight: 100 !important;
}

.section-hover:hover {
  scale: 1.02;
}

body {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* visibility: hidden; */
  width: 100vw;
  height: 100vh;
  padding: var(--padding-one);
  box-sizing: border-box;
  background-color: var(--background-color-one);
  display: flex;
  flex-direction: column;
  font-family: var(--font-primary);
  font-size: 16px;
  gap: var(--gap);

}

header {
  min-height: 10vh;
  height: 10vh;
  background-color: var(--background-color-two);
  border-radius: var(--border-radius-one);
  display: flex;
  box-sizing: border-box;
  padding: var(--padding-one);
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;

  > #title a{
    text-decoration: none;
    display: flex;
    color: var(--text-color);
    gap: 8px;
    font-size: 1.4em;

    > :last-child {
      font-weight: 400;
    }
  }

  > nav {
    width: 15%;
    min-width: 200px;
    display: flex;
    font-family: var(--font-primary);
    font-weight: 200;
    gap: var(--gap-two);
    justify-content: end;

    > a {
      transition: color 0.2s ease, font-weight 0.2s ease;
      text-decoration: none;
      color: var(--text-color);
    }

    > a:hover {
      font-weight: 450;
      color: var(--text-color);
    }
  }

  > nav:has(a:hover) a:not(:hover) {
    color: var(--disabled-text-color);
  }
}





:root {
  /* Couleurs principales */
  --primary-color: #414a37;
  --secondary-color: #99744a;
  --background-color-one: #dbc2a6;
  --background-color-two: #414a37;
  --text-color: #dbc2a6;
  --disabled-text-color: #dbc2a6c4;
  --secondary-text-color: #414a37;

  /* Typographie */
  --font-primary: "Outfit", sans-serif;
  --font-secondary: "Instrument Sans", sans-serif;
  --font-size: 16px;

  /* Espacements */
  --padding-one: 24px;
  --padding-two: 12px;
  --margin: 24px;
  --gap: 24px;
  --gap-two: 48px;

  /* Bordures et ombres */
  --border-radius-one: 20px;
  --border-radius-two: 16px;
}

@media  (max-width: 768px) {
  :root{
    /* Espacements */
    --padding-one: 16px;
    --padding-two: 6px;
    --margin: 16px;
    --gap: 16px;
    --gap-two: 24px;
  }
}